* {
    box-sizing: border-box;
}

body {
    font-family: "PokemonFont", Arial, sans-serif;
    src: url("../fonts/pkmnFont.ttf");
}

body::-webkit-scrollbar {
    display: none;
}

.first-level-container {
    display: flex;
    justify-content: center;
}

.box-container {
    display: flex;
    align-items: center;
    margin: 2em;
}