* {
  box-sizing:border-box;
}



body {
    font-family: "PokemonFont", Arial, sans-serif;
    src: url("../fonts/pkmnFont.ttf");

}
.first-level-container{
    display: flex;
    justify-content: center;
}
.box-container {
    display: flex;
    align-items: center;
    margin: 2em;
}

