@import "global_css.css";
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-container {
    display: flex;
    justify-content: center;
}
.box-container {
    display: flex;
    align-items: center;
    
}

.menu {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 480px;
    height: 102px;
    flex-shrink: 0;
    background: url("../img/box_menu.svg");
}

a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: "PokemonFont";
    src: url("../fonts/pkmnFont.ttf");
}

body {
    font-family: "PokemonFont", Arial, sans-serif;
}

