@import "global_css.css";
.links-container {
    display: flex;
    justify-content: center;
}
.box-container {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 480px;
    height: 102px;
    flex-shrink: 0;
    background: url("../img/box_menu.svg");
}

.poke-container {
    align-items: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon-card {
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: #5f9ea0;
    padding: 10px;
    text-align: center;
  }
  
  .main-content {
    display: flex;
  }
  
  .sidebar {
    background-color: #b0c4de;
    padding: 20px;
    width: 250px;
  }
  
  /* POKEMON SELECTED INFORMATION */
  .pokemon-info {
    background-color: #f0f8ff;
    padding: 10px;
    margin-bottom: 20px;
  }

  .pokemon-info .pokemon-selected-image-container {
    display: flex;
    justify-content: center;
  }

  .pokemon-info .pokemon-selected-image-container .pokemon-selected-background {
    width: 100%
  }

  .pokemon-info .pokemon-selected-image-container .pokemon-selected-image {
    position: absolute;
    transform: translate(0%, 22%);
  }
  
  .button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #6b8e23;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .collection {
    margin-left: 20px;
    flex-grow: 1;
  }
  
  .collection-header {
    background-color: #5f9ea0;
    padding: 10px;
  }
  
  .collection-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    padding: 10px;
    background-color: #f0f8ff;
  }
  
  .collection-item {
    border-radius: 15px;
    padding: 10px;
    text-align: center;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .navigation button {
    padding: 5px 15px;
    background-color: #deb887;
    color: white;
    border: none;
    cursor: pointer;
  }
  .poke-container {
    align-items: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
  }
  .pokemon-sprite {
    margin-top: 1vh;
  }
  .pokemon-popup {
    position:fixed;
    right:10px;
    bottom: 10px 

  }
  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 35vh;
    transform: translate(-50%, -50%);
    border: 4px solid #454343;
    border-style: outset;
    background: rgb(201,201,201);
    background: linear-gradient(342deg, rgba(201,201,201,1) 17%, rgba(236,236,236,1) 100%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
  }
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
  .pokemon-card {
    border: 4px solid #454343;
    border-radius: 10px;
    border-style: outset;
    background: rgb(201,201,201);
    background: linear-gradient(342deg, rgba(201,201,201,1) 17%, rgba(236,236,236,1) 100%);
    cursor: pointer;
  }
  .card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  

body {
    background-color: #f2fcfb;
}

    



