.pokemon-card {
    border-radius: 16px;
    border: 11px solid var(--default-gray-600, #4B5563);
    background: #FFF;
    width: 253px;
    height: 381px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.pokemon-image {
    height: 147px;
    background: var(--default-gray-200, #E5E7EB);
}
.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
