.links-container {
    display: flex;
    justify-content: center;
}
.box-container {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 480px;
    height: 102px;
    flex-shrink: 0;
    background: url("../img/box_menu.svg");
}

.poke-container {
    align-items: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.pokemon-card {
    cursor: pointer;
}

body {
    background-color: #f2fcfb;
}

    



