<div class="collection">
    <div class="collection-grid">
        {% for pokemon in pokemon_data %}
            <form method="post" action="{% url 'pokedex' %}?pokemon_id={{ pokemon.id }}">
                {% csrf_token %}
                <input type="hidden" name="pokemon_id" value="{{ pokemon.id }}">

                <div class="pokemon-card {{ pokemon.types.0 }}"
                     onclick="this.parentNode.submit();">
                    <div class="card-left">
                        <div class="pokemon-id">N°{{ pokemon.id }}</div>
                        <div class="pokemon-name">{{ pokemon.name|title }}</div>
                        <div class="pokemon-types">
                            {% for type in pokemon.types %}
                                <div class="pokemon-type">{{ type }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-right">
                        <img
                                class="pokemon-sprite"
                                src="{{ pokemon.sprite_front }}"
                                alt="{{ pokemon.name }} sprite"
                        />
                    </div>
                </div>
            </form>
        {% endfor %}
    </div>
</div>