{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/pokedex.css' %}"
    />
    <link
			rel="stylesheet"
			type="text/css"
			href="{% static 'css/team.css' %}"
		/>
    <title>Vos équipes</title>
</head>
<body>  <h1>Vos équipes</h1>
        <div class="links-container">
            <div class="box-container">
                <button onclick="window.location.href='http://localhost:8000'" class="open-button">
                    Go to home
                </button>
            </div>
            <div class="box-container">
                <button onclick="window.location.href='http://localhost:8000/pokedex/'" class="open-button">
                    Go to pokedex
                </button>
            </div>
            <div class="box-container">
                <button onclick="window.location.href='http://localhost:8000/team/'" class="open-button">
                    Go to teams
                </button>
            </div>
            <div class="box-container">
                <button onclick="window.location.href='http://localhost:8000/cache_data/'" class="open-button">
                    Les données en cache
                </button>
            </div>
        </div>
        <br>
        {% for pokemon in pokemon_data_team %}
            <div class="collection-grid">
                <div class="pokemon-card">
                    <div class="collection-item">
                        <div>#{{ pokemon.id }}</div>
                        <img
                                src="{{ pokemon.sprite_front }}"
                                alt="{{ pokemon.name }} sprite"
                        />
                    </div>
                    <form action="{{ request.path }}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="pokemon_id" value="{{ pokemon.id }}">
                        <input type="submit" value="Supprimer">
                    </form>
                </div>
            </div>
        {% endfor %}

        <div class="collection">
            <div class="collection-header">
                <h3>Collection</h3>
            </div>
            <div class="collection-grid">
                {% for pokemon in pokemon_data %}
                    <a href="{{ request.path }}?pokemon_id={{ pokemon.id }}">
                        <div class="pokemon-card">
                            <div class="collection-item">
                                <div>#{{ pokemon.id }}</div>
                                <img
                                        src="{{ pokemon.sprite_front }}"
                                        alt="{{ pokemon.name }} sprite"
                                />
                            </div>
                        </div>
                    </a>
                    <div
                            id="popup-{{ pokemon.id }}"
                            class="popup"
                            onclick="hidePopup('{{ pokemon.id }}')"
                    >
                        <h2>NOM : {{ pokemon.name }}</h2>
                        <p>TYPES : {{ pokemon.types }}</p>
                        <p>ID : #{{ pokemon.id }}</p>
                        <p>attack :{{ pokemon.moves }}</p>
                        <p>TAILLE : {{ pokemon.height }}</p>
                        <p>HP :{{ pokemon.hp }}</p>
                        <img
                                src="{{ pokemon.sprite_front }}"
                                alt="{{ pokemon.name }} sprite"
                        />
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
