{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/pokedex.css' %}"
    />
    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/navbar.css' %}"
/>
    <link
			rel="stylesheet"
			type="text/css"
			href="{% static 'css/team.css' %}"
		/>
    <title>Vos équipes</title>
</head>
<body>
    {% include 'navbar.html' %}
        {% for pokemon in pokemon_data_team %}
        <div class="pokemon-card {{ pokemon.types.0 }}">
            <div class="card-left">
                <div class="pokemon-id">N°{{ pokemon.id }}</div>
                <div class="pokemon-name">{{ pokemon.name|title }}</div>
                <div class="pokemon-types">
                    {% for type in pokemon.types %}
                        <div class="pokemon-type">{{ type }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="card-right">
                <img
                        class="pokemon-sprite"
                        src="{{ pokemon.sprite_front }}"
                        alt="{{ pokemon.name }} sprite"
                />
            </div>
        </div>
        <form action="{{ request.path }}" method="post">
            {% csrf_token %}
            <input type="hidden" name="pokemon_id" value="{{ pokemon.id }}">
            <input type="submit" value="Supprimer">
        </form>
        {% endfor %}
        <div class="collection-grid">
            {% for pokemon in pokemon_data %}
            <a href="{{ request.path }}?pokemon_id={{ pokemon.id }}" class="pokemon-card-link">
                <div class="pokemon-card {{ pokemon.types.0 }}">
                    <div class="card-left">
                        <div class="pokemon-id">N°{{ pokemon.id }}</div>
                        <div class="pokemon-name">{{ pokemon.name|title }}</div>
                        <div class="pokemon-types">
                            {% for type in pokemon.types %}
                                <div class="pokemon-type">{{ type }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-right">
                        <img
                                class="pokemon-sprite"
                                src="{{ pokemon.sprite_front }}"
                                alt="{{ pokemon.name }} sprite"
                        />
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </body>
</html>
