{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/pokedex.css' %}"
    />
    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/navbar.css' %}"
/>
    <link
			rel="stylesheet"
			type="text/css"
			href="{% static 'css/team.css' %}"
		/>
    <title>Vos équipes</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Vos équipes</h1>
        <div class="links-container">
            <div class="box-container">
                <button onclick="window.location.href='http://localhost:8000'" class="open-button">
                    Go to home
                </button>
            </div>
            <div class="box-container">
                <button onclick="window.location.href='http://localhost:8000/pokedex/'" class="open-button">
                    Go to pokedex
                </button>
            </div>
            <div class="box-container">
                <button onclick="window.location.href='http://localhost:8000/team/'" class="open-button">
                    Go to teams
                </button>
            </div>
            <div class="box-container">
                <button onclick="window.location.href='http://localhost:8000/cache_data/'" class="open-button">
                    Les données en cache
                </button>
            </div>
        </div>
        <br>
        {% for pokemon in pokemon_data_team %}
            <div class="collection-grid">
                <div class="pokemon-card">
                    <div class="collection-item">
                        <div>#{{ pokemon.id }}</div>
                        <img
                                src="{{ pokemon.sprite_front }}"
                                alt="{{ pokemon.name }} sprite"
                        />
                    </div>
                    <form action="{{ request.path }}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="pokemon_id" value="{{ pokemon.id }}">
                        <input type="submit" value="Supprimer">
                    </form>
                </div>
            </div>
        {% endfor %}
        <div class="collection-grid">
            {% for pokemon in pokemon_data %}
            <a href="{{ request.path }}?pokemon_id={{ pokemon.id }}" class="pokemon-card-link">
                <div class="pokemon-card {{ pokemon.types.0 }}">
                    <div class="card-left">
                        <div class="pokemon-id">N°{{ pokemon.id }}</div>
                        <div class="pokemon-name">{{ pokemon.name|title }}</div>
                        <div class="pokemon-types">
                            {% for type in pokemon.types %}
                                <div class="pokemon-type">{{ type }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-right">
                        <img
                                class="pokemon-sprite"
                                src="{{ pokemon.sprite_front }}"
                                alt="{{ pokemon.name }} sprite"
                        />
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </body>
</html>
