{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
		<style></style>
	</head>
	<body>
		<div class="logo-container">
			<img src="{% static 'img/pokemonlogo.svg' %}" alt="pokemon logo" />
			<img src="{% static 'img/pokedex.svg' %}" alt="pokedex logo" />
		</div>
		
		<div class="links-container">
			<div class="box-container">
				<a href="/pokedex">
					<div class="menu">
						<div>pokedex</div>
					</div>
				</a>
			</div>

			<div class="box-container">
				<a href="/team">
					<div class="menu">
						<div>teams</div>
					</div>
				</a>
			</div>
		</div>
	</body>
</html>
