{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Pokedex</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'css/pokedex.css' %}"
		/>
		<style>
			.poke-container {
				align-items: space-between;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				margin: 0 auto;
				max-width: 1200px;
			}
			.popup {
				display: none;
				position: fixed;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: white;
				padding: 20px;
				border-radius: 5px;
				box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
			}
			.pokemon-card {
				cursor: pointer;
			}
		</style>
	</head>
	<script src="{% static 'js/pokedex.js' %}"></script>
	<body>
		<button onclick="window.location.href='http://localhost:8000'">
			Go to home
		</button>
		<button onclick="window.location.href='http://localhost:8000/team/'">
			Go to Team
		</button>
		<div class="poke-container">
			<form method="get" action="{% url 'pokedex' %}">
				<input type="text" name="search" placeholder="Rechercher un Pokémon...">
				<button type="submit">Rechercher</button>
				<a href="{% url 'pokedex' %}" class="reset-button">Réinitialiser</a>
			</form>
			{% for pokemon in pokemon_data %}
			<div class="pokemon-card" onclick="showPopup('{{ pokemon.id }}')">
				<img src="{{ pokemon.sprite_front }}" alt="{{ pokemon.name }} sprite" />
				<div class="pokemon-image">
					<h2>{{ pokemon.name }}</h2>
					<p>{{ pokemon.id }}</p>
				</div>
			</div>
			<div
				id="popup-{{ pokemon.id }}"
				class="popup"
				onclick="hidePopup('{{ pokemon.id }}')"
			>
				<h2>NOM : {{ pokemon.name }}</h2>
				<p>TYPES : {{ pokemon.types }}</p>
				<p>ID : #{{ pokemon.id }}</p>
				<p>attack :{{ pokemon.moves }}</p>
				<p>TAILLE : {{ pokemon.height }}</p>
				<p>HP :{{ pokemon.hp }}</p>
				<img src="{{ pokemon.sprite_front}}" alt="{{ pokemon.name }} sprite" />
			</div>
			{% endfor %}
		</div>
	</body>
</html>
