{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Pokedex</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'css/pokedex.css' %}"
		/>
	</head>
	<script src="{% static 'js/pokedex.js' %}"></script>
	<body>
		<button onclick="window.location.href='http://localhost:8000'">
			Go to home
		</button>
		<button onclick="window.location.href='http://localhost:8000/team/'">
			Go to Team
		</button>
		<button onclick="window.location.href='http://localhost:8000/cache_data/'">
			Les données en cache
		</button>

		<div class="header">
			<h1>POKEDEX</h1>
		</div>
		<form method="get" action="{% url 'pokedex' %}">
			<input type="text" name="search" placeholder="Rechercher un Pokémon..." />
			<button type="submit">Rechercher</button>
			<a href="{% url 'pokedex' %}" class="reset-button">Réinitialiser</a>
		</form>

		<div class="main-content">
			<div class="sidebar">
				<div class="pokemon-info">
					<h2>{{ current_pokemon.name }}</h2>
					<div class="pokemon-selected-image-container">
						<img
							class="pokemon-selected-background"
							src="{% static 'img/pokemon_background.svg' %}"
							alt="pokemon background"
						/>
						<img
							class="pokemon-selected-image"
							src="{{ current_pokemon.sprite_front }}"
							alt="{{ current_pokemon.name }}"
						/>
					</div>
					<div class="navigation">
						<a
							href="{% url 'pokedex' %}?pokemon_id={{ current_pokemon.id|add:'-1' }}"
							>Previous</a
						>
						<a
							href="{% url 'pokedex' %}?pokemon_id={{ current_pokemon.id|add:'1' }}"
							>Next</a
						>
					</div>
					<p>STAT DU POKEMON SELECT</p>
				</div>
			</div>

			<div class="collection">
				<div class="collection-header">
					<h3>Collection</h3>
				</div>
				<div class="collection-grid">
					{% for pokemon in pokemon_data %}
					<div class="pokemon-card" onclick="showPopup('{{ pokemon.id }}')">
						<div class="collection-item">
							<div>#{{ pokemon.id }}</div>
							<img
								src="{{ pokemon.sprite_front }}"
								alt="{{ pokemon.name }} sprite"
							/>
						</div>
					</div>
					<div
						id="popup-{{ pokemon.id }}"
						class="popup"
						onclick="hidePopup('{{ pokemon.id }}')"
					>
						<h2>NOM : {{ pokemon.name }}</h2>
						<p>TYPES : {{ pokemon.types }}</p>
						<p>ID : #{{ pokemon.id }}</p>
						<p>attack :{{ pokemon.moves }}</p>
						<p>TAILLE : {{ pokemon.height }}</p>
						<p>HP :{{ pokemon.hp }}</p>
						<img
							src="{{ pokemon.sprite_front}}"
							alt="{{ pokemon.name }} sprite"
						/>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</body>
</html>
