{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <title>Vos équipes</title>
        <link
			rel="stylesheet"
			type="text/css"
			href="{% static 'css/team.css' %}"
		/>
    </head>
    <body>
        <h1>Vos équipes</h1>
        <div class="links-container">
            <div class="box-container">
                <button onclick="window.location.href='http://localhost:8000'" class="open-button">
                    Go to home
                </button>
            </div>
            <div class="box-container">
                <button onclick="window.location.href='http://localhost:8000/pokedex/'" class="open-button">
                    Go to pokedex
                </button>
            </div>
            <div class="box-container">
                <button onclick="window.location.href='http://localhost:8000/cache_data/'" class="open-button">
                    Les données en cache
                </button>
            </div>
        </div>
        <br>

        {% if team_data %}
            <ul>
            <ul>
                {% for team in team_data %}
                    <li>
                        <a href="{% url 'detail_team' team.id %}"
                        >{{ team.teamName }}#{{ team.id }}</a
                        >
                        <a href="{{ request.path }}?team_id={{ team.id }}">DELETE</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        </ul>

        <div class="box-container">
            <div class="open-btn box-container"">
                <button class="open-button" onclick="openForm()"><strong>Créer une équipe</strong></button>
            </div>
        </div>
        <div class="login-popup">
            <div id="popupForm" class="form-popup">
                <form onsubmit="{{ request.path }}" method="post" id="teamForm" class="form-container">
                {% csrf_token %}
                <h2>Créer une équipe</h2>
                <label for="teamname">Team Name: </label>
                <input type="text" name="teamName" placeholder="Entrez le nom de l'équipe"/><br/>

                <button type="submit" class="btn">Ajouter</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Annuler</button>
                </form>
            </div>
        </div>

        <script>
            function openForm() {
                document.getElementById("popupForm").style.display = "block";
              }
            function closeForm() {
                document.getElementById("popupForm").style.display = "none";
                document.getElementById("popupForm").reset();
                }
        </script>

    </body>
</html>
