<!DOCTYPE html>
<html>
<head>
    <title>Vos équipes</title>
</head>
<body>
<h1>Vos équipes</h1>
<button onclick="window.location.href='http://localhost:8000'">
    Go to home
</button>
<button onclick="window.location.href='http://localhost:8000/pokedex/'">
    Go to pokedex
</button>
<button onclick="window.location.href='http://localhost:8000/cache_data/'">
    Les données en cache
</button>

{% if team_data %}
    <ul>
    <ul>
        {% for team in team_data %}
            <li>
                <a href="{% url 'detail_team' team.id %}"
                >{{ team.teamName }}#{{ team.id }}</a
                >
                <a href="{{ request.path }}?team_id={{ team.id }}">DELETE</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
</ul>
<a href="#" id="createTeamLink">Créer une équipe</a>
<form action="{{ request.path }}" method="post" style="display: none;" id="teamForm">
    {% csrf_token %}
    Team Name: <input type="text" name="teamName" placeholder="Entrez le nom de l'équipe"/><br/>
    <input type="submit"/>
</form>

<script>
    document.getElementById('createTeamLink').addEventListener('click', function (event) {
        event.preventDefault();
        document.getElementById('teamForm').style.display = 'block';
    });
</script>

</body>
</html>
